<!-- https://www.amazon.fr/s?k=mariage&rh=n%3A436559031&dc&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&qid=1594473134&rnid=1703605031&ref=sr_nr_n_1> -->
<!-- <perfect-scrollbar class="my-perfect-scrollbar-wrapper" [config]="config"> -->
<div class="content">
  <h3>Catégories</h3>
  <ul>
    <li routerLink="/sacs">
      <img src="https://www.amazon.fr/images/I/71nNiiL8fHL._AC_SX679_.jpg">
      <ul>
        <li>SACS</li>
      </ul>
    </li>
    <li routerLink="/parfums">
      <img src="https://www.amazon.fr/images/I/61akBM6icBL._AC_SY550_.jpg">
      <ul>
        <li>PARFUMS</li>
      </ul>
    </li>
    <li routerLink="/mariage">
      <img src="https://www.amazon.fr/images/I/71CvtVRVhhL._AC_SL1001_.jpg">
      <ul>
        <li>MARIAGE</li>
      </ul>
    </li>
    <li routerLink="/chaussures">
      <img src="https://www.amazon.fr/images/I/71PVuX7k7GL._AC_UY575_.jpg"
      alt="https://www.amazon.fr/Pleaser-Bottines-Shoes-DELIGHT696LC-Noir/dp/B07RC21QRX/ref=sr_1_4?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=chaussures+boot&qid=1594495911&s=apparel&sr=1-4">
      <ul>
        <li>CHAUSSURES</li>
      </ul>
    </li>
    <li routerLink="/montres">
      <img src="https://www.amazon.fr/images/I/61dfqaEcYdL._AC_SX569_.jpg">
      <ul>
        <li>MONTRES</li>
      </ul>
    </li>
    <li routerLink="/gilets">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71%2Bti0tllQL._AC_UX569_.jpg">
      <ul>
        <li>GILETS</li>
      </ul>
    </li>
    <li routerLink="/costumes">
      <img src="https://images-na.ssl-images-amazon.com/images/I/81ZMnl4NefL._AC_UX466_.jpg">
      <ul>
        <li>COSTUMES</li>
      </ul>
    </li>
    <li routerLink="/chemises">
      <img src="https://images-na.ssl-images-amazon.com/images/I/617wa64c1%2BL._AC_UY879_.jpg">
      <ul>
        <li>CHEMISES</li>
      </ul>
    </li>
    <li routerLink="">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71k87yzst2L._AC_UX569_.jpg">
      <ul>
        <li>Description</li>
      </ul>
    </li>
    <li routerLink="/lunettes">
      <img src="https://www.amazon.fr/images/I/61mtuR6DVaL._AC_UX679_.jpg">
      <ul>
        <li>LUNETTES</li>
      </ul>
    </li>


    <!-- <li><img [defaultImage]="defaultImage" [lazyLoad]="images" [useSrcset]="true" /></li> -->
  </ul>

</div>
<!-- </perfect-scrollbar> -->

