<footer>

  <ul>
    <li>
      <h3>Mon Compte</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Eligendi cupiditate aperiam eaque at necessitatibus sed voluptates! At provident
      consequatur numquam explicabo voluptatum ad beatae neque harum, quod ipsum! Qui, laborum!
    </li>
    <li>
      <h3>Téléphone</h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Laudantium sed, ducimus corrupti pariatur minus perferendis
      voluptates voluptatibus deleniti natus illum!
    </li>
    <li>
      <h3>A Propos</h3>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad inventore ratione,
      officia suscipit voluptatibus deleniti illo accusantium quas consequuntur maxime,
      beatae facilis ducimus perspiciatis libero mollitia accusamus fugiat sunt temporibus.
    </li>
    <li>
      <h3>Affiliation</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Adipisci quas quisquam harum commodi modi voluptas,
      soluta incidunt repellat magni officiis!
    </li>
  </ul>




  <ul>
    <li>
      <h3>Mentions Légales</h3>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Eaque, expedita reprehenderit tenetur pariatur officia nesciunt magni delectus?
      Quis, impedit, deserunt velit illo, fuga officiis aperiam id dicta sed sint dolores!</li>

      <li>
        <h3>Conditions Générales d'utilisation</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Eaque, expedita reprehenderit tenetur pariatur officia nesciunt magni delectus?
        Quis, impedit, deserunt velit illo, fuga officiis aperiam id dicta sed sint dolores!
    </li>

    <li>
      <h3>Tout savoir sur nos produits</h3>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Eaque, expedita reprehenderit tenetur pariatur officia nesciunt magni delectus?
      Quis, impedit, deserunt velit illo, fuga officiis aperiam id dicta sed sint dolores!
    </li>
    <!-- <li class="reseaux-soiaux">
          <!-- <h3>Réseaux Sociaux</h3> --
        <div>f</div>
        <div>i</div>
        <div>g</div>
        <div>p</div>
    </li> -->

  </ul>



  <ul>
    <li class="genres">
      <h3>Genres</h3>
        <span>Romans policiers</span>
        <!-- <span>Romance</span> -->
        <span>Religion</span>
        <span>Famille</span>
        <span>Humour</span>
        <span>Développement personnel</span>
        <span>Philosophie</span>
    </li>
    <li class="copyright">
      <p>&copy; 2020 myecommerce.com</p>
      <p>Réalisation: BINATE Aliyou</p>
    </li>
  </ul>
  <!-- <div>
    <div>&copy; 2020 myngecommerce.com</div>
    <div></div>
  </div>

  <div>
    <div></div>
    <div></div>
  </div>

  <div>
    <div></div>
    <div></div>
  </div> -->
</footer>
