<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand">BINATE Aliyou</a> -->
  <div data-toggle="collapse" data-target="#navbarNavDropdown">
    <a routerLink=presentation>
      <img class="img-circle" src="./assets/images/photocv2018_3bb.jpg">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/">Accueil <span class="sr-only">(current)</span></a>
        </li> -->

      <!-- <li class="nav-item">
          <a class="nav-link" routerLink="presentation">Présentation</a>
        </li> -->

      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/romans-policiers">Romans policiers</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="/romance">Romance</a> -->
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/religion">Religion</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/humour">Humour</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/enfants">Enfants</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/famille">Famille</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/developpement-personnel">Développement personnel</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
        <a class="nav-link" routerLink="/philosophie">Philosophie</a>
      </li>
    </ul>
  </div>
</nav>
