 /* * {
      margin: 2px
    } */

    body {
      font-size: 24px;
      color: white;
      height: 100vh;
      text-align: center;
      display: flex;
      flex-direction: column
    }

    .header {
      background-color: #5070b5;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .nav {
      background-color: #e4a9ac;
      padding-top: 3rem;
      flex: 1 1 5rem
    }

    .main h2{
      align-self: center;
      font-size: 1.5rem;
      margin-top: 1rem;
      color: #e4a9ac
    }
    .main {
      display: flex;
      flex: 1;
      flex-direction: column
    }

    div.items {
      /* background-color: #d6f3c8; */
      padding-top: 1rem;
      flex: 4 4;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .aside {
      background-color: #e4a9ac;
      padding-top: 3rem;
      flex: 1 1 5rem;
    }

    footer > ul{padding-left: 0; padding-right: 17px;}
    footer {
      background-color: #d6f3c8;
      padding-top: 3rem;
    }

    div.items div {
      margin: 0;
    }

    div.items .item a{text-decoration: none}
    div.items .item {
      font-size: 1.5rem;
      margin: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      border: 1px solid #eee;
      width: 20%;
    }

    div.items .item .item-body {
      flex: 1
    }

    div.items .item .item-body img {
      display: block;
      margin: 5px auto;
      border: 2px solid #eee;
      max-height: 100%;
      max-width: 100%;
    }

    div.items .item .item-footer .item-title {
      color: rgb(73, 73, 73);
      margin: 2px;
    }

    div.items div.item div.item-footer div.item-price {
      color: #DF1E35;
      font-weight: bold;
      margin: 2px;
    }

    div.items .item-footer {
      padding: 1px;
      margin-top: 2px;
      /* background-color: #ec9ca3; */
      text-align: left;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }

    /* @media all and (max-width:540px) { */

      @media screen and (max-width: 1200px) {
      div.items div.item {
        width: 80%;
      }
      div.items {
        flex-direction: column;
        align-items: center;
      }

      footer {
        flex-direction: column;
      }
      footer>ul {
        padding-left: 10px;
        padding-right: 17px;
      }

      button.navbar-toggler {
        background-color: #ABACB0 !important;
      }

      .navbar-light .navbar-toggler {
        border-color: #ABACB0 !important;
      }
    }
