<div class="product-image-and-description">
  <div class="product-image">
    <h2 style="font-size:1.2em; color:#DF1E35; font-weight:bold">{{item.description}}</h2>
    <img src="{{item.image}}">
  </div>

  <div class="product-description">
    <div>
      <h2 style="font-size:1.2em; color:#DF1E35; font-weight:bold">Description</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Laudantium non voluptatem explicabo amet, fugit odit, inventore,
        odio quia ad animi saepe? Ea harum obcaecati saepe aspernatur nostrum eligendi aperiam et?
      </p>
    </div>
    <div>
      <span style="font-size:1.5em; color:#DF1E35; font-weight:bold">18<sup>€90</sup></span>
    </div>
    <div>
      <img src="./assets/images/secure-logo.png">
    </div>
  </div>

</div>

<div class="product-technical-specifications-wrapper">
  <div class="product-technical-specifications">
    <h2>Fiche technique</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perferendis,
    omnis cum placeat similique voluptate accusantium necessitatibus ad,
    voluptates veniam aspernatur vitae vel dolore illo laboriosam qui autem temporibus? Iste,
    temporibus ullam ratione quae optio earum placeat incidunt corporis corrupti esse perspiciatis nesciunt ex,
    beatae quo facilis libero fuga animi dignissimos doloremque atque dolore sunt est nulla non.
    Totam corporis explicabo accusantium magnam aspernatur? Numquam itaque eligendi aliquam doloribus repellendus exercitationem perferendis accusamus, dolorum saepe quam nesciunt voluptatem fugiat officia temporibus debitis, consequuntur alias vero sint reiciendis laudantium! Neque,
    accusantium? Ipsa illum soluta odio voluptatibus nesciunt in molestias maiores laudantium.
  </div>
</div>
