<div class="presentation">
  <!-- <div></div> -->
  <div>
    <h3>Présentation</h3>
    <p>
      Cette application développée par Aliyou BINATE, est une application responsive, utilisant le framework Angular 7 et
    les technologies Bootstrap et Flexbox.</p>
    <p>
    Pour des raisons de performance, elle utilise également le module "ng-lazyload-image" afin de charger les images plus
    rapidement.

    Le site est encore en cours d'évolution...
    </p>
    <!-- <p><a routerLink="/categories">Voir les catégories de produits ... » </a></p> -->
  </div>
  <!-- <div></div> -->
</div>
